@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo(a) ao portal CloudTarget!</h1>
    <p><a href="http://cloudtarget.com.br/">Construir para inovar!</a></p>
</div>
